$fonts = Open Sans,Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif

$primaryColor = #ec5033
$ligtColor = #fff
$darkColor = #13171a
$blackColor = #000
$hoverColor = $primaryColor
$postBorderColor = #2c343c
$postBgColor = #1b2025

//$bgImage = url('/img/pattern.svg')

// colors
$accentColor = $primaryColor

$textColor = $ligtColor
$darkTextColor = $darkColor

$borderColor = rgba(#828282,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = $darkColor
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)

// layout
$headerHeight = 80px
$contentWidth = 100vw
$coverHeight = 100vh
$coverWidth = 100vw

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
